.exchange-rates {
  &-list {
    margin-top: 25px;
    border-radius: 4px;
    padding: 10px 16px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 9px 0;

    &:last-child {
      border-bottom: none;
    }
  }
}